
<div ng-include="'src/navBar/navView.html'"></div>
<div class="roomList">
	<div class="panel panel-info">
      <div class="panel-heading">Rooms Available</div>
      	<ul ng-repeat= "room in roomname">
          	<li ng-click="joinRoom(room)"> {{room}}</li>
      	</ul>
      </div>
</div>


<div class="usersAvailable">
	<div class="panel panel-info">
      <div class="panel-heading">Users Available</div>
     	 <ul ng-repeat= "user in users">
          	<li> {{user}}</li>
      	</ul>
      </div>
</div>


<div id="createRoom">
	<button type="button" class="btn btn-primary" ng-click="createNewRoom()">
        Create new room
    </button>
</div>



