
<div ng-include="'src/navBar/navView.html'"></div>
<div class="roomList">
	<div class="panel panel-info">
      <div class="panel-heading">Rooms Available</div>
        <ul ng-repeat= "room in roomname">
          <li data-toggle="modal" data-target="#exampleModal" id="joinTakki" ng-click="chosenRoom(room)"> {{room}}</li>
        </ul>
    </div>
  </div>
</div>
      	</ul>
      </div>
</div>
<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>
</div>
<div class="usersAvailable">  
	<div class="panel panel-info">
      <div class="panel-heading">Online Users</div>
     	 <ul ng-repeat= "user in users">
          	<li> {{user}}</li>
      	</ul>
      </div>
</div>


<div id="createRoom">
	<button type="button" class="btn btn-primary" ng-click="createNewRoom()">
        Create new room
    </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Room Password</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Enter Password</label>
            <input type="password" ng-model="enteredPassword"class="form-control" id="passwordBox">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" ng-click="joinRoom()"class="btn btn-primary">Join</button>
      </div>
    </div>
  </div>
</div>


