<div>
	<h3>Create a new chatroom</h3>
</div>
<div>
	<div>
		<label for="newRoomName" class="control-label">Room name</label>
		<input type="text" ng-model="newRoomName" focus="{{newRoomName}}"/>
		<label>Room password (optional)</label>
		<input type="password" ng-model="newRoomPassword"/>
		<br>
		<label>Room Topic</label>
		<input type="text" ng-model="newtopic"/>
		<button ng-click="create()">Create</button>
	</div>

	<div class="alert alert-danger" role="alert" ng-show="displayError">
		{{ errorMessage }}
	</div>
</div>