<div ng-include="'src/navBar/navView.html'"></div>

<div class="row">
	<div class="col-md-8">
		<h2 class="text-center">Welcome to {{ roomname }}, were {{topic}} are!!</h2>
	</div>
</div>

<div id="userlist">
<h3>User List</h3>
<ul>
    <li uib-dropdown on-toggle="toggled(open)" href id="simple-dropdown" ng-repeat="user in userlist" uib-dropdown-toggle>
        {{user}}
      <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li><a ng-click="kickUser(user)" ng-show="isAdmin">kick</a></li>
    	<li><a ng-click="banUser(user)" ng-show="isAdmin">ban</a></li>
   		<li><a ng-click="opUser(user)" ng-show="isAdmin">op</a></li>
   		<li><a ng-click="deopUser(user)" ng-show="isAdmin">deop</a></li>
   		<li><a type="button" ng-click="privateMessage(user)">PM></a></li>

      </ul>
    </li>
</ul>
</div>

<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger"><strong>{{sucessMessage}}</strong> 
</div>

<div id="wrapper">
	<h5>{{ ServMessage }}</h5>
	<div id="chatbox" scroll-glue>
			<ul ng-repeat="message in messageInRoom">
				<li>{{message.nick}} : {{message.message}} 	</li>
			</ul>
	</div>
<div id = "privatesend" class="col-md-4" ng-show = "isPrv">
	<div class ="row">
		<div>
			<h3 class="text-center"> Sending private message to {{ recvUser }}</h3>
		</div>
		<input name ="privmsg" type="text" id= "privmessage" ng-model="privmessage" focus=" {{privmsg}} "/>
		<button type="button" class = "btn btn-primary" ng-click="sendPrvMessage()" > Send</button>
	</div>
</div>
<div id = "privateget" class="col-md-4" ng-show = "GetPrv">
		<div>
			<h3 class="text-center"> You got a  private message from {{ fromUser }}</h3>
		</div>
		<div>
			{{recvMessage}}
		</div>
		<div>
			<button type="button" class = "btn btn-primary" ng-click="privateMessage(fromUser) ">Respond</button>
			<button type="button" class = "btn btn-primary" ng-click ="dismiss()"> Dismiss</button>
		</div>
</div>

	<form name="message" action="">
	    <input name="usermsg" type="text" ng-model="newmessage" focus="{{usermsg}}"size="63" />	
		<button class="btn btn-primary" ng-click="sendMessage()" type="button">Send</button> 
	</form>
	<div>
		<button ng-click="leaveRoom()" class="btn btn-danger " type="button">Leave Room</button>
		<button ng-click="roomSettings()" ng-show="isAdmin" type="button" class="btn btn-info">Room Settings</button>
		<button type="button" class="btn btn-warning" ng-show="isAdmin" ng-click = "unban()">Unban</button>
	</div>
	<div id="unbanlist" ng-show="unbanshow">
		<ul>
			<li ng-repeat = "user in bannedUserList" ng-click = "unbanUser(user)">{{user}}
			<a ng-click = "unbanUser(user)"> unban</a>
		</li>
	</ul>
</div>
</div>



<div id="roomsettings" ng-show="show">
	Room Topic: <input type="text" ng-model="newTopic" placeholder="Topic"/>
	Room Password <input type="password" ng-model="roomPassword" placeholder="Password"/>
	<button ng-click="removePassword()" class="btn btn-danger">Remove Password</button>
	<button ng-click="submit()" class="btn btn-success">Submit</button>
</div>


