<div class="row">
	<div class="col-md-8">
		<h2 class="text-center">Welcome to {{ roomname }}</h2>
	</div>
</div>

<div id="userlist">
	<table>
		<thead>
			<tr>
				<th>Users</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in userlist">
				<td>{{ user }}<button type="button" ng-click="privateMessage(user)" ></button></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="wrapper">
	<div id="chatbox">
		<table class="table table-striped">
			<tr ng-repeat="message in messageInRoom">
				<td>{{message.nick}} : {{message.message}}	</td>
			</tr>
		</table>
	</div>
<div id = "privatesend" ng-show = "isPrv">
	<div class ="row">
		<div>
			<h3 class="text-center"> Sending private message to {{ recvUser }}</h3>
		</div>
		<input name ="privmsg" type="text" id= "privmessage" ng-model="privmessage" focus=" {{privmsg}} "/>
		<button type="button" class = "btn btn-primary" ng-click="sendPrvMessage()" > Send</button>
	</div>
</div>
<div id = "privateget" ng-show = "GetPrv">
		<div>
			<h3 class="text-center"> You got a  private message from {{ fromUser }}</h3>
		</div>
		<div>
			{{recvMessage}}
		</div>
		<div>
			<button type="button" class = "btn btn-primary" ng-click="privateMessage(fromUser) ">Respond</button>
			<button type="button" class = "btn btn-primary" ng-click ="dismiss()"> Dismiss</button>
		</div>
</div>

	<form name="message" action="">
	    <input name="usermsg" type="text" ng-model="newmessage" focus="{{usermsg}}"size="63" />
		<button class="btn btn-primary" ng-click="sendMessage()" type="button">Send</button> 
	</form>
</div>