<div class="row">
	<div class="col-md-8">
		<h2 class="text-center">Welcome to {{ roomname }}</h2>
	</div>
</div>

<div id="userlist">
	<ul>
		<li ng-repeat="user in userlist">{{user}}
			<button ng-click="kickUser(user)" ng-show="isAdmin">kick</button> 
			<button ng-click="banUser(user)" ng-show="isAdmin">ban</button>
			<button ng-click="opUser(user)" ng-show="isAdmin">op</button>
		</li>
	</ul>
</div>

<div id="wrapper">
	<div id="chatbox" scroll-glue>
			<ul ng-repeat="message in messageInRoom">
				<li>{{message.nick}} : {{message.message}}	</li>
			</ul>
	</div>

	<form name="message" action="">
	    <input name="usermsg" type="text" ng-model="newmessage" focus="{{usermsg}}"size="63" />	
		<button class="btn btn-primary" ng-click="sendMessage()" type="button">Send</button> 
	</form>
</div>

<div id="leaveroom">
	<button ng-click="leaveRoom()" type="button">Leave Room</button>
</div>

<div class="alert alert-success" role="alert" ng-show="displaySuccess">
	{{ successMessage }}
</div>